{{ define "css" }} {{ end }}
{{ define "content" }}
<div class="container">
    <main>
        <table class="pico-table">
            <thead>
            <tr>
                <th></th>
                <th>Данные</th>
                <th>О файле</th>
            </tr>
            </thead>
            <tbody>
            {{ range . }}
            <tr>
                <td>
                    <a href="{{ .PhotoUrl }}" target="_blank">
                        <img src="{{ .PhotoUrl }}" width="100">
                    </a>
                </td>
                <td>
                    <ul>
                        <li><b>Email</b> {{ .Email }}</li>
                        <li><b>Name</b> {{ .Name }}</li>
                        <li><b>Phone</b> {{ .Phone }}</li>
                        <li><b>Site</b> {{ .Site }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><b>UploadedAt</b> {{ .UploadedAt | formatDate }}</li>
                        <li><b>Owner</b> {{ .Owner }}</li>
                    </ul>
                </td>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </main>
</div>
{{ end }}
