<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Card Detector</title>
    <link rel="stylesheet" type="text/css" href="/static/pico.min-2.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="icon" href="/static/icon.png" sizes="32x32" type="image/png">
    <style>
        /*.container {*/
        /*    max-width: 800px;*/
        /*    margin-top: 50px;*/
        /*}*/

        .image-result-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px; /* С небольшим отступом между блоками */
        }

        .image-container,
        .result-container {
            flex-basis: calc(50% - 10px); /* Вычет отступа */
            height: 500px;
            border: 1px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: #f6f6f6;
        }

        .img-placeholder {
            max-width: 100%;
            max-height: 100%;
            opacity: 0.5;
        }

        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        .json-key {
            color: brown;
        }

        .json-value {
            color: navy;
        }

        .json-string {
            color: olive;
        }
    </style>
</head>

<body>
<header class="container-fluid">
    <div class="container">
        <!--            <h1></h1>-->
        <!--            <h2>Card Detector v{{ .Version }}</h2>-->
        <div class="card-detector-title">
            <img src="./static/lettters/c-transparent.png" alt="C" class="title-letter">
            <img src="./static/lettters/a-1-transparent.png" alt="A" class="title-letter">
            <img src="./static/lettters/r-transparent.png" alt="R" class="title-letter">
            <img src="./static/lettters/d-transparent.png" alt="D" class="title-letter">
            <span class="word-spacer"></span>
            <img src="./static/lettters/d-3-transparent.png" alt="D" class="title-letter">
            <img src="./static/lettters/e-transparent.png" alt="E" class="title-letter">
            <img src="./static/lettters/t-transparent.png" alt="T" class="title-letter">
            <img src="./static/lettters/e-transparent.png" alt="E" class="title-letter">
            <img src="./static/lettters/c-transparent.png" alt="C" class="title-letter">
            <img src="./static/lettters/t-transparent.png" alt="T" class="title-letter">
            <img src="./static/lettters/o-transparent.png" alt="O" class="title-letter">
            <img src="./static/lettters/r-2-transparent.png" alt="R" class="title-letter">
        </div>

        <nav>
            <ul>
                <!--                <li>Varsion: {{ .Version }}</li>-->
                <!--            <li><strong></strong></li>-->
            </ul>
            <ul>
                <li><a href="/" class="secondary">Загрузить</a></li>
                <li><a href="/history">История</a></li>
                <li><a href="/about">О проекте</a></li>
            </ul>
        </nav>
    </div>
</header>

<main class="container">
    <div class="image-result-container" data-tooltip="Загрузите фото визитки">
        <div class="image-container">
            <img id="image-view" class="img-fluid rounded img-placeholder"
                 src="./static/photo.png"
                 alt="Предварительный просмотр">
        </div>

        <div class="result-container">
            <pre id="result"></pre>
        </div>

    </div>

    <!-- File browser -->
    <label for="image-upload">
        <input type="file" id="image-upload" name="file" accept="image/*">
    </label>
</main>

<footer class="container-fluid">
    <div class="container">
        <div class="grid">
            <hgroup>
                <h5>Card Detector</h5>
                <p>Распознавание визиток с помощью ИИ</p>
            </hgroup>
            <div>
                <h5>Ссылки</h5>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/about">О проекте</a></li>
                </ul>
            </div>
            <div>
                <h5>Контакт</h5>
                <p><a href="mailto:dvl.java@gmail.com">dvl.java@gmail.com</a></p>
            </div>
        </div>
        <p class="text-center">&copy; 2024 Card Detector | Версия {{ .Version }}</p>
    </div>
</footer>

<!-- Modal example -->
<dialog id="modal-example">
    <article>
        <header>
            <button aria-label="Close"
                    rel="prev"
                    data-target="modal-example"
                    onclick="toggleModal(event)"></button>
            <h3>Фото визитки</h3>
        </header>
        <p>
        <figure>
            <img id="modal-image" src="" alt="card photo"/>
            <figcaption>
                <cite id="modal-image-name"></cite>
            </figcaption>
        </figure>
        </p>
        <footer>
            <button autofocus data-target="modal-example" onclick="toggleModal(event)">
                Хорошо
            </button>
        </footer>
    </article>
</dialog>
<!-- ./ Modal example -->

<script src="/static/modal.js"></script>

<script>
    // Обработчик события выбора изображения
    document.getElementById('image-upload').addEventListener('change', function (e) {
        var reader = new FileReader();

        reader.onload = function (event) {
            showLoading()
            var img = document.getElementById('image-view');
            img.setAttribute('src', event.target.result);

            // Отправка изображения на сервер
            var formData = new FormData();
            formData.append('image', e.target.files[0]);

            var request = new XMLHttpRequest();
            request.open('POST', '/detect_ui', true);
            request.onreadystatechange = function () {
                if (request.readyState === XMLHttpRequest.DONE && request.status === 200) {
                    // Получение и отображение результата в формате JSON
                    var result = JSON.parse(request.responseText);
                    showResult(result['person']);
                    replaceImg(result['img_path'])
                }
            };
            request.send(formData);
        }

        reader.readAsDataURL(e.target.files[0]);
    });

    // Функция для красивого отображения результата JSON
    function showResult(result) {
        var resultDiv = document.getElementById('result');
        resultDiv.innerHTML = syntaxHighlight(JSON.stringify(result, null, 2));
    }

    function showLoading() {
        var resultDiv = document.getElementById('result');
        resultDiv.innerHTML = '<span aria-busy="true">Loading...</span>';
    }

    // Функция для подсветки синтаксиса JSON
    function syntaxHighlight(json) {
        json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        return json.replace(/("(\\u[a-fA-F0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|true|false|null|-?\d+(?:\.\d*)(?:[eE][+-]?\d+)?)/g, function (match) {
            var cls = 'json-value';
            if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                    cls = 'json-key';
                } else {
                    cls = 'json-string';
                }
            }
            return '<span class="' + cls + '">' + match + '</span>';
        });
    }

    // Замена изображения
    function replaceImg(imgPath) {
        var img = document.getElementById('image-view');
        img.setAttribute('src', imgPath);
        img.removeEventListener('click', showModal)
        img.addEventListener('click', (event) => showModal(event, imgPath));
    }

    const showModal = (event, url, imgName) => {
        console.log(url)
        const image = document.getElementById('modal-image');
        image.src = url;
        if (imgName) {
            const image_name = document.getElementById('modal-image-name');
            image_name.innerText = imgName;
        }
        modal = document.getElementById('modal-example')
        openModal(modal)
    }
</script>
</body>

</html>
